* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}











/* Debug */

/* Navbar */

.navbar {
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 30px 0;
}

.nav-link {
    flex-basis: calc(100% / 4);
}

.nav-text {
    justify-content: space-evenly;
}

/* Jumbotron */

.jumbotron-top {
    background-color: #B4D0E6;
}

.jumbotron-bottom {
    height: 100px;
    border-bottom: 1px solid gray;
}

.jumbotron-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

#Jumbotron-title {
    text-align: center;
    font-size: 100px;
    padding: 30px 0;
}

.jumbotron-left-section {
    flex-basis: 30%;
    height: 400px;
    background-color: blue;
}

.jumbotron-right-section {
    flex-basis: 70%;
    height: 400px;
    background-color: aquamarine;
}

/* Sections */

.sections-container {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Subscription Rates Section  */

.subscription-title {
    padding: 40px 0;
    font-size: 40px;
}

.billing {
    gap: 50px;
    padding: 40px 0;
}

.billing-text {
    align-items: center;
    gap: 5px;
}

.check {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 5px solid blue;
    border-radius: 50%;
}

.not-check {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
}

.subscriprions-container {
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.subscription-column {
    flex-basis: calc(100% / 3 - 60px / 3);
    border: 1px solid gray;
}

.subscription-row {
    flex-basis: 100%;
    border: 1px solid gray;
}

/* Partner Section */

.partner-container {
    padding: 50px 0;
}

.left-partner-column {
    flex-basis: 60%;
     border: 1px solid gray;
}

.right-partner-column {
    flex-basis: 40%;
     border: 1px solid gray;
}

/* Business Section */

.business-title{
    font-size: 50px;
    padding: 40px 0;
}

.business-container{
    flex-wrap: wrap;
    gap: 20px;
}

.business-card{
    flex-basis: calc(100% / 3 - 40px / 3);
    border: 1px solid gray;
}