* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: sans-serif;
    scroll-behavior: smooth
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.button {
    display: inline-block;
    color: white;
    background-color: #0161FE;
    padding: 10px;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.sections-container {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Navbar */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-link {
    flex-basis: calc(100% / 3);
}

.nav-text {
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: inline-block;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-link-text {
    color: black;
    padding: 28px 10px;
}

.nav-link-text:hover {
    border-bottom: 3px solid black;
}

/* Jumbotron */

.jumbotron-top {
    background-color: #B4D0E6;
}

.jumbotron-bottom {
    height: 100px;
    border-bottom: 1px solid gray;
}

.jumbotron-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#Jumbotron-title {
    font-size: 75px;
    font-weight: 900;
    padding-top: 50px;
}

.jumbotron-left-section {
    flex-basis: 25%;

}

.jumbotron-right-section {
    flex-basis: 75%;
}

.jumbotron-text {
    padding-top: 75px;
    padding-bottom: 40px;
}

.jumbotron-text-bottom {
    padding-top: 40px;
    padding-bottom: 100px;
}

.jumbotron-arrow {
    color: black;
    font-size: 40px;
    padding-bottom: 20px;
}

.jumbotron-img {
    max-width: 100%;
    position: relative;
    top: 75px;
}

/* Footer */

.footer {
    margin-top: 150px;
    background-color: black;
}

.footer-link-container {
    padding-top: 100px;
    gap: 20px;
}

.footer-column {
    flex-basis: calc(100% / 5 - 80px / 5);
    flex-direction: column;
    padding-bottom: 130px;
}

.footer-column-list {
    flex-direction: column;
}

.footer-column-list-row {
    padding-bottom: 20px;
}

.footer-column-text-title {
    color: white;
    font-size: 30px;
}

.footer-column-text {
    color: white;
    font-size: 14px;
}

/* Language Section */

.language {
    color: white;
    padding: 50px 0;
    padding-right: 20px;
    display: inline-block;
}

.border-top {
    border-top: 1px solid white;
}


/* Debug */


/* Subscription Rates Section  */

#subscription-title {
    padding-top: 70px;
    font-size: 40px;
}

.billing {
    gap: 50px;
    padding: 40px 0;
}

.billing-text {
    align-items: center;
    gap: 5px;
}

.check {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 5px solid blue;
    border-radius: 50%;
}

.not-check {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
}

.subscriprions-container {
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
}

.subscription-column {
    flex-basis: calc(100% / 3 - 60px / 3);
    border: 1px solid gray;
}

.subscription-row {
    flex-basis: 100%;
    border: 1px solid gray;
}

/* Column Sections */

.column-top {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

.column-bottom {
    padding: 40px;
}

.subscription-column-title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

.column-price {
    font-weight: bold;
    padding-bottom: 15px;
}

.column-time {
    color: grey;
    padding-bottom: 40px;
}

.column-users {
    padding-bottom: 20px;
    gap: 10px;
}

.column-storage {
    padding-bottom: 20px;
    gap: 10px;
}

.column-share {
    padding-bottom: 50px;
    gap: 10px;
}

.column-button{
    padding: 10px 43px;
}

.column-buy{
    padding: 50px 0;
}

.column-border-bottom{
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.column-buy-now{
    color: blue;
    text-decoration: underline;
}

.column-subtitle{
    padding-top: 60px;
    font-size: 16px;
}

.column-footer-text{
    padding: 30px 0;
    gap: 10px;
}

.column-check{
    color: blue;
}

/* Partner Section */

.partner-container {
    padding: 50px 0;
}

.left-partner-column {
    flex-basis: 60%;
    border: 1px solid gray;
}

.right-partner-column {
    flex-basis: 40%;
    border: 1px solid gray;
}

/* Business Section */

.business-title {
    font-size: 50px;
    padding: 40px 0;
}

.business-container {
    flex-wrap: wrap;
    gap: 20px;
}

.business-card {
    flex-basis: calc(100% / 3 - 40px / 3);
    border: 1px solid gray;
}

/* Call To Armas Section */

.call-title {
    font-size: 40px;
    padding-top: 150px;
    padding-bottom: 40px
}

.call-link {
    font-size: 18px;
    text-decoration: underline;
    color: blue;
}